<!--<sdx-button label="GoBack" href="javascript:;" routerLink="/util"></sdx-button>-->
<h3>Content</h3>
<ng-container *ngIf="trackOrder">
  <sdx-progress-full

    sr-hint="Your current order"
    [value]="trackOrder.currentStep">
    <sdx-progress-full-step *ngFor="let orderStep of trackOrder.steps"
                    [label]="getTitle(orderStep)"
                    [summary]="orderStep.content?.description ?? ''"
    ></sdx-progress-full-step>
  <p>{{trackOrder.description}}</p>
  </sdx-progress-full>
</ng-container>
