<h2>Go to Order</h2>
<div class="container">
  <sdx-button-group layout="responsive-fill">
    <sdx-button theme="secondary" label="Finished" routerLink="/util/finished"></sdx-button>
    <sdx-button theme="secondary" label="Activation" routerLink="/util/activation"></sdx-button>
    <sdx-button theme="secondary" label="Delivery" routerLink="/util/delivery"></sdx-button>
    <sdx-button theme="secondary" label="Shipped" routerLink="/util/shipped"></sdx-button>
    <sdx-button theme="secondary" label="Open" routerLink="/util/open"></sdx-button>
  </sdx-button-group>
  <app-order-progress></app-order-progress>>
</div>
