<!--<sdx-button label="GoBack" href="javascript:;" routerLink="/util"></sdx-button>-->
<h3>Content</h3>
<div class="row paragraph">
  <div class="col-xs-12 col-md-5 col-xl-5 margin-bottom-3" style="align-self: flex-end">
    <h2 class="d3 text-align-center-sm-down">
      Future ready.<br />
      With Swisscom
    </h2>
    <p class="margin-bottom-4 text-align-center-sm-down"><a href="javascript:;" class="link link--standalone">Read more about</a></p>
  </div>
  <div class="col-xs-12 col-md-7 col-xl-7">
    <sdx-content-slider lg="2" xl="2" ul="2">
      <sdx-teaser
        label="Good for people"
        label-aria-level="3"
        role="group"
        aria-label="Slide 1 of 4"
        image-src="https://sdx.swisscom.ch/img/design/cards/solar-panel.jpg"
        image-alt="Kids at school"
        href="javascript:;"
        href-label="Read about"
        href-aria-label="Open new website."
        ><p>We are committed to inspiring workplaces, digital literacy and diversity.</p>
      </sdx-teaser>
      <sdx-teaser
        label="Good for the environment"
        label-aria-level="3"
        role="group"
        aria-label="Slide 2 of 4"
        image-src="https://sdx.swisscom.ch/img/design/cards/kids-at-school.jpg"
        image-alt="Solar panel"
        href="javascript:;"
        href-label="Read about"
        href-aria-label="Open new website."
        ><p>We aim to be climate neutral and achieve a positive CO2 contribution by 2025.</p>
      </sdx-teaser>
      <sdx-teaser
        label="Responsible action"
        label-aria-level="3"
        role="group"
        aria-label="Slide 3 of 4"
        image-src="https://sdx.swisscom.ch/img/design/cards/kids-at-school.jpg"
        image-alt="Team technical specialist"
        href="javascript:;"
        href-label="Read about"
        href-aria-label="Open new website."
        ><p>We work according to ethical principles and advocate fair supply chains.</p>
      </sdx-teaser>
      <sdx-teaser
        label="Give your old device a new life"
        label-aria-level="3"
        role="group"
        aria-label="Slide 4 of 4"
        image-src="https://sdx.swisscom.ch/img/design/cards/technical-specialists.jpg"
        image-alt="Man chatting on mobile"
        href="javascript:;"
        href-label="Calculate the device value"
        href-aria-label="Open new website."
        ><p>Swisscom Buyback: sell your second-hand smartphone or tablet.</p>
      </sdx-teaser>
    </sdx-content-slider>
  </div>
</div>
