<h1>Planet content</h1>
<div class="container buttons--action">
  <div class="row margin-bottom-1">
    <sdx-button (click)="goBack()" label="goBack"></sdx-button>
  </div>
  <div class="row margin-bottom-1">
    <sdx-button (click)="openWebSite('https://www.google.com')" label="open Google"></sdx-button>
  </div>
  <div class="row">
    <sdx-button (click)="openWebSite('https://www.bing.com')" label="open Bing"></sdx-button>
  </div>
  <div class="row">
    <sdx-input label="Final url: " placeholder="Write your branch"></sdx-input>
  </div>

</div>

