<ng-container *ngIf="planetResponse">
  <div class="row flex-items">
    <div class="col-xs-6 col-md-4 margin-bottom-3" *ngFor="let planet of planetContent">
      <sdx-card [label]="planet.name" label-aria-level="2" icon-name="icon-home">
        <ul class="list single-line margin-0">
          <li>Population: {{ formatPopulation(planet)}}</li>

        </ul>
      </sdx-card>

    </div>
  </div>
  <sdx-show-more
  *ngIf="isShowMoreVisible()"
    [incrementBy]="incrementBy"
    [totalItems]="planetResponse.count"
    from-label="of"
    more-label="Show 10 more"
    (click)="showMore()"
  />
</ng-container>
